<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="DB_CACHE_TEST_PGSQL_DSN" value="pgsql:host=127.0.0.1;port=5432;dbname=kodus_db_cache_test"/>
    <const name="DB_CACHE_TEST_PGSQL_USERNAME" value="root"/>
    <const name="DB_CACHE_TEST_PGSQL_PASSWORD" value="root"/>
    <const name="DB_CACHE_TEST_MYSQL_DSN" value="mysql:host=127.0.0.1;port=3306;dbname=kodus_db_cache_test"/>
    <const name="DB_CACHE_TEST_MYSQL_USERNAME" value="root"/>
    <const name="DB_CACHE_TEST_MYSQL_PASSWORD" value="root"/>
  </php>
</phpunit>
