name: Codeception tests

on: [push]

jobs:
  build:
    name: ${{matrix.operating-system}}, PHP ${{ matrix.php }}

    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        operating-system: [ ubuntu-latest, ubuntu-20.04 ]
        php: [ '8.0', '8.1' ]

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: kodus_db_cache_test
          POSTGRES_USER: root
          POSTGRES_PASSWORD: root
        ports:
          - 5432:5432
      mysql:
        image: mysql
        env:
          MYSQL_DATABASE: kodus_db_cache_test
          MYSQL_USER: root
          MYSQL_PASSWORD: root

    steps:
      - uses: actions/checkout@master

      - name: Setup PHP
        uses: nanasess/setup-php@master
        with:
          php-version: ${{ matrix.php }}

      - name: Install dependencies
        run: composer install

      - name: Run tests
        run: php vendor/bin/codecept run
        env:
          POSTGRES_HOST: postgres
          POSTGRES_PORT: 5432
